---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Container from "../../components/Container.astro";
---

<BaseLayout title="Addin Munawwar's Space">
	<main class="flex justify-center grow">
		<Container>		
			<div class="relative">
				<h1 class="text-3xl font-bold text-center">The blog</h1>
				<!-- search icon -->
			</div>
			<!-- filter options -->
			<h2 class="text-2xl font-bold">Featured</h2>
		</Container>
	</main>
</BaseLayout>