---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main class="flex flex-col grow justify-center items-center">
        <h1 class="text-emoji">🥺</h1>
        <h1 class="text-3xl font-bold">404</h1>
        <p>Page not found</p>
    </main>
</BaseLayout>