---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main class="flex flex-col grow justify-center items-center">
        <h1 class="text-9xl">🥺</h1>
        <h1>404</h1>
        <p class="text-xl">Page not found</p>
    </main>
</BaseLayout>