---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<BaseLayout title="Addin Munawwar's Space">
	<main class="flex justify-center">
		<div class="w-4/5 min-h-screen py-6 flex flex-col gap-5">
			<SocialLinks/>
			<div class="flex flex-col gap-3">
				<a class="text-primary block underline underline-offset-3" href="/resume">About Me (a Resume) →</a>
				<a class="text-primary block underline underline-offset-3" href="/blog">Head to the blog →</a>
			</div>
			<h1 class="text-3xl font-bold">Welcome to my personal blog!</h1>
			<p>
				Hi people on the internet 👋 <br/> <br/>

				Welcome to my personal blog, a space where I share about anything! 
				from the things I work on, to random stuffs that came out of my 
				thoughts 🪄 <br/> <br/>

				In here you’ll probably see: <br/>
				My projects development
				Lesson’s learned from my personal experience
				Editorial text
				Creative writing <?> — short story, poetry. We’ll see about that~ <br/><br/>

				I also made the website in two languages — Bahasa Indonesia and English 
				— to make it more accessible for everyone 🙌 <br/><br/>

				All of the things i write here are purely my opinions that have been 
				influenced by many sources and might be bias. Please don’t take it 
				for granted!
			</p>
			<h1 class="text-3xl font-bold">So, who am I!?!</h1>
			<p>
				Hi again! my name is Addin Munawwar, a 20 years old growing game developer 
				from Bandung, Indonesia 🇮🇩, who likes to explore a lot of things! I am a 
				computer science at Bandung Institute of Technology and in the third year 
				right now 💃 <br/><br/>

				Currently, my main interests for now are finishing game projects and learning
				more things with graphics, such as OpenGL, render pipeline, and some art <br/><br/>

				My dream is to create games that can change people life for the better <br/><br/>

				You can learn more about me by looking at my resume and reading some of the 
				things i write by the link below <br/><br/>
			</p>
		</div>
	</main>
</BaseLayout>