---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Addin Munawwar's Space">
	<header>
		<Navbar />
	</header>
	<main>	
		Here is the main content
	</main>
	<Footer/>
</BaseLayout>