---
import BlogImage from "../components/BlogImage.astro";
import Container from "../components/Container.astro";
import Icon from "../components/Icon.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Addin Munawwar's Space">
	<main class="flex justify-center">
        <Container>
            <h1>A Resume</h1>
            <BlogImage src="/src/assets/addin.png" alt="Addin Munawwar" />
            <h2>ADDIN MUNAWWAR YUSUF</h2>
            <h3 class="text-xl" >Game Developer Generalist | Computer Graphics Enthusiast | Web Developer</h3>
            <contact class="flex flex-col font-bold gap-1">
                <a href="mailto:moonawardev@gmail.com">moonawardev@gmail.com</a>
                <a href="https://www.linkedin.com/in/moonawar/">LinkedIn® Profile</a>
                <a>+62 882 000 207 882</a>
            </contact>
            
            <div class="flex gap-4 items-center">
                <h1>Career Goal</h1>
                <Icon />
            </div>
            <p>
                I perceive games as the best form of human piece of art 🎨. 
                It involves the most known art form, like animation, music, narrative, and many more!
                Games are just like movies, but with interactivity. It can convey ideas, share information, 
                and simply, express human feelings. That's what makes me intent to pursue game development
                as my future career.<br/><br/>

                I really love to learn and explore new things in the game development field, not limited to 
                programming, but also its artistic aspect (audiovisual) and the underlying system behind it 
                (the engine, architecture, tools, etc).
            </p>
        </Container>
	</main>
</BaseLayout>