---
import { Image } from "astro:assets";
---

<nav class="h-20 flex justify-center  bg-secondary_dark text-white">
    <div class="w-4/5 flex items-center justify-between">
        <a href="/"><img src="/nameLogo.png" alt="logo" class="h-12" /></a>
        <img src="/graphicLogo.png" alt="logo" class="h-8" />
    </div>
</nav>