---
import nameLogo from '../assets/nameLogo.png'
import graphicLogo from '../assets/graphicLogo.png'
---

<nav class="h-20 flex justify-center  bg-secondary_dark text-white">
    <div class="w-4/5 flex items-center justify-between">
        <a href="/"><img src={nameLogo.src} alt="Name Logo" class="h-12" /></a>
        <a href="/"><img src={graphicLogo.src} alt="Graphic Logo" class="h-8" /></a>
    </div>
</nav>