---
import Breadcrumb from "../components/Breadcrumb.astro";
import Container from "../components/Container.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.svelte";
import "../styles/main.css";
const { title } = Astro.props;

const pathName = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en" class="bg-secondary text-white font-sans">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{ title }</title>
    </head>
    <body class="min-h-screen flex flex-col">
        <header class="relative">
            <Navbar client:load/>
        </header>
        <main class="flex justify-center grow">
            <Container>	
                <Breadcrumb pathName={pathName} />
                <slot/>
            </Container>
        </main> 
        <Footer/>
    </body>
</html>